<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course Recommendation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <header class="navbar">
        <div class=""></div>
    </header>
    <h1 class="title">Enter a keyword to get course recommendations</h1>
    <form id="recomForm" class="submit-card">
        <input type="text" id="textInput" name="text" placeholder="e.g., Python" required>
        <!-- <button type="submit" class="img-search"><img src="{{ url_for('static', filename='search.png') }}" class="img-search"></button> -->
         <button type="submit" class="img-search">🔍︎</button>
    </form>

    <h2 class="result-text"><span id="find-content"></span></h2>
    <ul id="results" class="result-wrap"></ul>
</body>
</html>